*{
    margin: 0;
    padding: 0;
    font-family: 'Optima', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background: linear-gradient(135deg, #e0e0ff, #22225f);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #c324ef;
    box-shadow: 0 5px 10px rgba(26, 26, 255, 0.22);
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(26, 26, 255, 0.22);
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color: #333;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #30115c;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #a39ea470;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #30115c;
    box-shadow: 0 2px 2px rgba(26, 26, 255, 0.22);
}